#form-container {
    border-bottom: 2px solid black;
}

#weather-now {
    border: 1px solid black;
    background-color:silver;
}

#five-day {
    font-weight: bold;
}

.days {
    border: 1px solid black;
    background-color:slateblue;
    color: white;
}